<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596179477933-13ljbpa12dk4t3pim5jb44tu12g62vn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596179477933-13ljbpa12dk4t3pim5jb44tu12g62vn6</string>
	<key>API_KEY</key>
	<string>AIzaSyA5NJPAFDcidPI6GfFnz6E7wGJOcI0CJu0</string>
	<key>GCM_SENDER_ID</key>
	<string>596179477933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.workquestapp</string>
	<key>PROJECT_ID</key>
	<string>workquest-93d56</string>
	<key>STORAGE_BUCKET</key>
	<string>workquest-93d56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596179477933:ios:24dac159411248f66b6d24</string>
</dict>
</plist>