<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607554822192-jjgdfhfols5v13i8mkvvd7qgn1n9l050.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607554822192-jjgdfhfols5v13i8mkvvd7qgn1n9l050</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>607554822192-2s128l3vvb2qfaf2ca1se05d2fftchhe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy-wMRiCG_JKohMc7XORicNjActTf9SqM</string>
	<key>GCM_SENDER_ID</key>
	<string>607554822192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.workquestapp</string>
	<key>PROJECT_ID</key>
	<string>work-quest-app</string>
	<key>STORAGE_BUCKET</key>
	<string>work-quest-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607554822192:ios:b5ab66ba76d323ec8c4df5</string>
	<key>DATABASE_URL</key>
	<string>https://work-quest-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>